@page "/"
@inherits MvvmComponentBase<IndexViewModel>

<PageTitle>@ViewModel.Organization</PageTitle>
<div @ref="@ViewModel.MyTarget" @onpointerdown="@ViewModel.LeftClick" @onmouseout="ViewModel.MouseOut" @onmouseover="ViewModel.MouseOver">
    <WallPaper></WallPaper>
</div>