@page "/about"
@inherits MvvmComponentBase<AboutViewModel>

<div class="relative isolate">
    <VisualEffect></VisualEffect>
    <AboutOrganization></AboutOrganization>
    <GetInTouch></GetInTouch>
</div>