@page "/about"
@inherits MvvmComponentBase<AboutViewModel>

<div class="mx-auto w-full px-4 pt-8 lg:px-10">
    <h1 class="items-center justify-center text-center font-sans text-4xl font-medium tracking-tight dark:text-white-main">
        About
        <span class="text-white-action dark:text-dark-action">UnitFirst</span>
    </h1>
    <AboutOrganization></AboutOrganization>
    <GetInTouch></GetInTouch>
</div>