@page "/about"
@inherits MvvmComponentBase<AboutViewModel>

<div class="mx-auto w-full px-4 pt-8 lg:px-10">
    <AboutOrganization DataContext="ViewModel.Model.AboutOrganization"></AboutOrganization>
    <GetInTouch DataContext="ViewModel.Model.GetInTouch"></GetInTouch>
</div>