@page "/about"
@inherits MvvmComponentBase<AboutViewModel>

<div class="mx-auto w-full px-4 pt-8 lg:px-10">
    <h1 class="items-center justify-center text-center font-sans text-4xl font-medium tracking-tight dark:text-white-main">
        About
        <span class="text-white-action dark:text-dark-action">UnitFirst</span>
    </h1>
    <h2>Established in 2009, [Studio Name] is a seasoned software development studio with a proud history of delivering high-quality solutions to clients across various industries. With 14 years of experience under our belt, we've honed our skills in developing innovative, scalable, and reliable software products that meet the evolving needs of our clients.</h2>
    <AboutOrganization></AboutOrganization>
    <GetInTouch></GetInTouch>
</div>