<div class="max-h-md mx-auto mt-6 flex max-w-md flex-col items-center justify-center px-6 py-4 sm:max-w-lg sm:max-h-lg">
    <time datetime="" class="text-2xl font-bold text-[#FF0000]">
        @Value
    </time>
</div>

@code
{
    [Parameter]
    public string Value { get; set; }
}