<div class="flex flex-col">
    <h1 class="w-full self-center p-2 text-center text-2xl font-medium tracking-tight sm:text-4xl lg:p-12 lg:w-1/2">@Mission</h1>
    <p class="self-center p-2 text-center text-lg leading-8 lg:p-12 lg:w-5/6">@MissionDetails</p>
</div>

@code {

    [Parameter]
    public string Mission { get; set; } = "Start your business digital transformation on the right foot.";

    [Parameter]
    public string MissionDetails { get; set; } = "We're on a mission to make it easy for anyone to start a business digital transformation. With our AI-powered business plan generator, you can get a comprehensive business plan in minutes and your digital solution free.";

}