<div class="overflow-hidden bg-white-main text-black dark:bg-dark-main dark:text-white-main">
    <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
        <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
            <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
                <h1 class="text-2xl font-medium tracking-tight text-dark-main dark:text-white-main sm:text-4xl">Start your business digital maintenance on the right foot.</h1>
                <p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">We're on a mission to make it easy for anyone to start a business digital maintenance. With our AI-powered business plan generator, you can get a comprehensive business plan in minutes. Then, with tools like Chat and Content Creator, we're the secret weapon for thousands of entrepreneurs.</p>
            </div>
            <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
                <div class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
                    <div class="relative">
                        <img src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;h=528&amp;q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-dark-main object-cover shadow-lg">
                        <div class="pointer-events-none absolute inset-0 rounded-xl border ring-1 ring-inset ring-dark-main"></div>
                    </div>
                </div>
                <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                    <div class="relative">
                        <img src="https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;h=528&amp;q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-dark-main object-cover shadow-lg">
                        <div class="pointer-events-none absolute inset-0 rounded-xl border ring-1 ring-inset ring-dark-main"></div>
                    </div>
                    <div class="relative">
                        <img src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;crop=focalpoint&amp;fp-x=.4&amp;w=396&amp;h=528&amp;q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-dark-main object-cover shadow-lg">
                        <div class="pointer-events-none absolute inset-0 rounded-xl border ring-1 ring-inset ring-dark-main"></div>
                    </div>
                </div>
                <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                    <div class="relative">
                        <img src="https://images.unsplash.com/photo-1670272504528-790c24957dda?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;crop=left&amp;w=400&amp;h=528&amp;q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-dark-main object-cover shadow-lg">
                        <div class="pointer-events-none absolute inset-0 rounded-xl border ring-1 ring-inset ring-dark-main"></div>
                    </div>
                    <div class="relative">
                        <img src="https://images.unsplash.com/photo-1670272505284-8faba1c31f7d?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;h=528&amp;q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-dark-main object-cover shadow-lg">
                        <div class="pointer-events-none absolute inset-0 rounded-xl border ring-1 ring-inset ring-dark-main"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
