<button type="button"
        @onclick="@Click"
        class="inline-flex w-auto min-w-24 items-center justify-center rounded-lg border border-white-action px-5 py-2.5 text-center text-sm font-medium text-white-action shadow-lg hover:text-white-main hover:bg-white-action focus:ring-4 focus:outline-none dark:border-dark-action dark:text-dark-action sm:px-2.5 dark:hover:text-dark-main dark:hover:bg-dark-action">
    @ButtonText
</button>

@code {
    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public Action Click { get; set; }
}
