<div class="flex flex-col gap-2 rounded border border-white-action bg-gray-100 p-2 hover:bg-gray-300 dark:bg-gray-600 dark:border-dark-action dark:hover:bg-gray-700">
</div>

@code {

    [Parameter]
    public BaseModel DataContext { get; set; }
}