<div class="relative">
    <select class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-dark-main focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white-main dark:focus:ring-blue-500 dark:focus:border-blue-500">
        
        @foreach (var value in Values)
        {
            <option value="@value">@value</option>
        }
    </select>
</div>

@code
{
    [Parameter] public ObservableCollection<string> Values { get; set; }

    [Parameter] public string Selection { get; set; }

    [Parameter]
    public string Visibility { get; set; } = "hidden";

}
