<li>
    <button class="flex flex-row items-center gap-2 rounded-lg p-2" @onclick="ListItemClicked">
        <img alt="@Language" src="@ImageSource"/>
    </button>
</li>

@code {

    [Parameter]
    public string ImageSource { set; get; }

    [Parameter]
    public string Language { set; get; }

    [Parameter]
    public Action<string>? LanguageSelected { get; set; }

    public void ListItemClicked()
    {
        LanguageSelected?.Invoke(Language);
    }
}