<div class="grid w-full grid-cols-2 rounded bg-gray-300">
    <div class="flex flex-col content-center items-center justify-center gap-y-4">
        <h2 class="text-left text-5xl">@Title</h2>
        <p class="text-lg font-semibold">@Details</p>
        <button type="button"
                class="inline-flex w-auto min-w-24 rounded-lg border border-white-action px-5 py-2.5 text-center text-sm font-medium text-white-action shadow-lg hover:text-white-main hover:bg-white-action focus:ring-4 focus:outline-none focus:ring-dark-action dark:text-dark-action dark:border-dark-action dark:text-dark-action dark:shadow-orange sm:px-2.5 hover:dark:bg-dark-action dark:hover:bg-dark-action dark:focus:ring-dark-action">
            @ButtonText
        </button>
    </div>
    <div class="flex justify-end">
        <img src="@Image" alt="Image" />
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Details { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string Image { get; set; }
}
