<div class="mx-auto w-full bg-white-main text-black dark:bg-dark-main dark:text-white-main">
    <div class="bg-white-main p-4 py-8 text-center text-black dark:bg-dark-main dark:text-white-main md:py-20">
        <h1 class="mb-6 text-3xl text-4xl font-medium tracking-tight dark:text-white-main">@Main</h1>
        <span class="text-md mb-6 block text-neutral-600 dark:text-white-main md:text-lg">@Description</span>
        <div class="flex justify-center">
            <input type="email" class="ml-2 mr-2 block max-h-10 w-full max-w-sm rounded-lg border border-gray-300 bg-white-main text-sm text-dark-main focus:ring-white-action focus:border-white-action dark:bg-dark-main dark:border-dark-action dark:placeholder-gray-400 dark:text-white-main dark:focus:ring-dark-action dark:focus:border-dark-action" placeholder="john.doe@company.com" required>
            <ActionButton ButtonText="@ButtonText" Click="@Click"></ActionButton>
        </div>
    </div>
</div>

@code {

    [Parameter] public string Main { get; set; }

    [Parameter] public string Description { get; set; }

    [Parameter] public string PlaceHolder { get; set; }

    [Parameter] public string ButtonText { get; set; }

    [Parameter] public Action Click { get; set; }
}
