<div class="mx-auto w-full @Dark bg-white-main text-black dark:bg-dark-main dark:text-white-main">
    <div class="bg-white-main p-4 py-8 text-center text-black dark:bg-dark-main dark:text-white-main md:py-20">
        <h1 class="mb-6 text-3xl text-4xl font-medium tracking-tight dark:text-white-main">@Main</h1>
        <span class="text-md mb-6 block text-neutral-600 dark:text-white-main md:text-lg">@Description</span>
        <div class="flex justify-center">
            <input type="email" id="email" class="mr-2 block max-h-10 w-full max-w-sm rounded-lg border border-gray-300 bg-gray-50 text-sm text-dark-main focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white-main dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required>
            <button type="button"
                    @onclick="@Click"
                    class="inline-flex w-auto min-w-20 items-center justify-center rounded-lg border border-white-action px-5 py-2.5 text-center text-sm font-medium text-white-action shadow-lg hover:text-white-main-main hover:bg-white-action focus:ring-4 focus:outline-none focus:ring-dark-action dark:text-dark-action dark:border-dark-action dark:text-dark-action dark:shadow-orange sm:px-2.5 hover:dark:bg-dark-action dark:hover:text-white-main-main dark:hover:bg-dark-action dark:focus:ring-dark-action">
                @ButtonText
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Dark { get; set; }

    [Parameter] public string Main { get; set; }

    [Parameter] public string Description { get; set; }

    [Parameter] public string PlaceHolder { get; set; }

    [Parameter] public string ButtonText { get; set; }

    [Parameter] public Action Click { get; set; }
}
