<div class="flex w-full">
    <div class="flex flex-col px-4 pt-14 lg:px-28">
        <div class="flex">
            <h3 class="w-full font-sans text-5xl font-medium text-black lg:text-6xl lg:w-6/12">Your key to working smarter, not harder</h3>
        </div>
        <div class="grid grid-cols-1 gap-12 pt-20 lg:grid-cols-3">
            <div class="flex flex-col">
                <p class="text-lg font-semibold">Easier admin</p>
                <h3 class="text-base/8 pt-2">Turn tedious tasks into effortless processes with automatic data syncing for things like new hires, resignations, salary updates, and more.</h3>
            </div>
            <div class="flex flex-col">
                <p class="text-lg font-semibold">Real-time insights</p>
                <h3 class="text-base/8 pt-2">With built-in analytics, your team can access real-time metrics without having to manually input numbers — meaning less room for error, too.</h3>
            </div>
            <div class="flex flex-col">
                <p class="text-lg font-semibold">Streamlined workflow</p>
                <h3 class="text-base/8 pt-2">Cut out repetitive manual tasks so your team can free up more time to focus on strategic initiatives and the bigger-impact projects that really matter.</h3>
            </div>
            <div class="mt-10 flex flex-col border-b border-t text-center lg:text-left">
                <p class="pt-8 text-5xl font-semibold">50%+</p>
                <h3 class="pb-4 pt-4">more time saved</h3>
            </div>
            <div class="mt-10 flex flex-col border-b border-t text-center lg:text-left">
                <p class="pt-8 text-5xl font-semibold">95%+</p>
                <h3 class="pb-4 pt-4">HRIS and payroll systems supported</h3>
            </div>
            <div class="mt-10 flex flex-col border-b border-t text-center lg:text-left">
                <p class="pt-8 text-5xl font-semibold">80%+</p>
                <h3 class="pb-4 pt-4">average matching plan adoption</h3>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public CharacteristicComponentModel DataContext { get; set; }
}
