<div class="mx-auto w-full bg-white-main px-2 text-black dark:bg-dark-main dark:text-white-main lg:px-10">
    @ChildContent
</div>

@code {
    [Parameter] public UIElementModel UiElementModel { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
