@typeparam TItem

<div class="mx-auto w-full bg-white @UiElementModel.Dark px-2 text-black dark:bg-gray-900 dark:text-white lg:px-10">
    @ChildContent
</div>

@code {
    [Parameter] public UIElementModel UiElementModel { get; set; }

    [Parameter]
    public RenderFragment<TItem> ChildContent { get; set; }
}
