@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-white-main: oklch(0.985 0.001 106.423);
    --color-white-action: oklch(0.586 0.253 17.585);
    --color-dark-main: oklch(0.21 0.034 264.665);
    --color-dark-action: oklch(0.852 0.199 91.936);
    --font-sans: "Roboto";
    --font-serif: "Roboto";
}