@inherits LayoutComponentBase

<div class="flex size-full @Theme.Dark flex-col bg-white text-black dark:bg-gray-900 dark:text-white">
    <div class="flex size-full flex-col @Theme.Dark bg-white px-10 text-black dark:bg-gray-900 dark:text-white">
        <NavMenu></NavMenu>
        @Body
        <Footer></Footer>
    </div>
    <AcceptUsing Theme="@Theme" 
                 Hide=""></AcceptUsing>
</div>


@code
{
    [CascadingParameter(Name="Theme")]
    public Theme Theme { get; set; }
}