@inherits LayoutComponentBase

<div class="bg-white-main-main flex @Theme.Dark size-full flex-col text-black dark:bg-dark-main dark:text-white">
    <div class="bg-white-main-main flex size-full @Theme.Dark flex-col px-10 text-black dark:bg-dark-main dark:text-white">
        <NavMenu></NavMenu>
        @Body
        <Footer></Footer>
    </div>
</div>

@code
{
    [CascadingParameter(Name = "Theme")]
    public Theme Theme { get; set; }
}