@inherits LayoutComponentBase

<div class="flex size-full flex-col bg-white-main text-black dark:bg-dark-main dark:text-white-main">
    <div class="flex size-full flex-col bg-white-main px-4 text-black md:px-10 dark:bg-dark-main dark:text-white-main">
        <NavMenu></NavMenu>
        @Body
        <Footer></Footer>
    </div>
</div>

@code
{
    [CascadingParameter(Name = "Theme")]
    public Theme Theme { get; set; }
}